/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
.idea

resources/auto/

generated/resources/sql/

generated/resources/templates/auto/

generated/src/clj/youyesyet/routes/

*.iml

node_modules/


generated/


